<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Политика Cookies файлов</title>
</head>
<body>
    <h1>Политика Cookies файлов</h1>

    <p>
        Эта политика использования файлов cookie описывает, как ARBITOOLS использует файлы cookie и другие подобные технологии в связи с нашими веб-сайтами и приложениями.
    </p>

    <p>
        ARBITOOLS использует файлы cookie для улучшения вашего опыта и маркетинга. Пожалуйста, проверьте настройки файлов cookie, чтобы управлять своей конфиденциальностью.
    </p>

    <h2>Что такое файлы cookie?</h2>

    <p>
        Файлы cookie — это небольшие текстовые файлы, которые хранятся в браузере вашего компьютера. Они помогают поставщикам сайтов с такими вещами, как языковые настройки, возможности входа в личный кабинет, понимание того, как люди используют сайт, запоминание данных для входа и сохранение настроек сайта.
    </p>

    <p>
        Можно установить два основных типа файлов cookie:
    </p>

    <ul>
        <li>Основные файлы cookie: эти файлы cookie размещаются и считываются ARBITOOLS непосредственно, когда вы пользаетесь нашими услугами.</li>
        <li>Сторонние файлы cookie: эти файлы cookie устанавливаются не ARBITOOLS, а другими компаниями, такими как Google или Yandex, для анализа посещаемости сайта.</li>
    </ul>

    <h2>Использует ли ARBITOOLS файлы cookie?</h2>

    <p>
        Да. Мы используем файлы cookie в соответствии с нашей Политикой конфиденциальности, чтобы:
    </p>

    <ul>
        <li>вы могли войти в личный кабинет</li>
        <li>указать настройки нашего веб-сайта</li>
        <li>обеспечить правильную работу наших разделов и услуг</li>
        <li>понимать, как посетители используют наши веб-сайты/приложения</li>
        <li>анализировать и улучшать наши услуги</li>
    </ul>

    <h2>Могу ли я отказаться от Cookies?</h2>

    <p>
        В зависимости от того, где вы находитесь, вы можете настроить свои предпочтения в отношении файлов cookie через настройки файлов cookie в вашем браузере. Если вы хотите удалить существующие файлы cookie со своего устройства, вы можете сделать это, используя параметры браузера. Если вы хотите заблокировать размещение файлов cookie на вашем устройстве в будущем, вы можете сделать это, изменив настройки в вашем браузере. Тем не менее, учтите, что удаление или блокировка файлов cookie может повлиять на невозможность использования личного кабинета и настроек нашего сайта.
    </p>
</body>
</html>
