{% load static %}


<footer class="footer">
   <div class="container">
      <div class="footer__menu-block">
         <div class="footer__logo">
            <img src="{% static 'main/img/main/logo.png' %}" alt="">
         </div>
         <ul class="footer__menu">
            <li class="footer__menu-item"><a href="{% url 'best_prices' %}">P2P Цены</a></li>
            <li class="footer__menu-item"><a href="{% url 'p2plinks:spreadtable' %}">P2P Связки</a></li>
            <li class="footer__menu-item"><a href="{% url 'links_without_cards' %}">Без карт</a></li>
            <li class="footer__menu-item"><a href="{% url 'mezhbirzhevye_svyazki' %}">Межбиржевые</a></li>
            <li class="footer__menu-item"><a href="{% url 'index' %}#rates">Тарифы</a></li>
            <li class="footer__menu-item"><a href="{% url 'empty' %}">Блог</a></li>
            <li class="footer__menu-item"><a href="{% url 'empty' %}">Инструкции</a></li>
         </ul>
      </div>
      <div class="footer__content">
         <div class="footer__contacts">
            <div class="contacts">
               <div class="contacts__title">Contact us:</div>
               <!-- <div class="contacts__item">Email: info@arbitools.com</div> -->
               <!-- <div class="contacts__item">Phone: +7 000 000 00 00</div> -->
               <div class="contacts__item">Telegram: <a href="https://t.me/ArbiToolsS">arbitools</a></div>
            </div>
         </div>
         <div class="footer__company">
            <div class="footer__company-item"><img src="{% static 'main/img/main/company-logo_huoby.png' %}" alt="">
            </div>
            <div class="footer__company-item"><img src="{% static 'main/img/main/company-logo_bitpapa.png' %}" alt="">
            </div>
            <div class="footer__company-item"><img src="{% static 'main/img/main/company-logo_okx.png' %}" alt="">
            </div>
            <div class="footer__company-item"><img src="{% static 'main/img/main/company-logo_kucoin.png' %}" alt="">
            </div>
            <!-- <div class="footer__company-item"><img src="{% static 'main/img/main/company-logo_pexpay.png' %}" alt=""> -->
            <!-- </div> -->
            <div class="footer__company-item"><img src="{% static 'main/img/main/company-logo_binance.png' %}" alt="">
            </div>
            <div class="footer__company-item"><img src="{% static 'main/img/main/company-logo_bybit.png' %}" alt="">
            </div>
            <div class="footer__company-item"><img src="{% static 'main/img/main/company-logo_garantex.png' %}" alt="">
            </div>
            <div class="footer__company-item"><img src="{% static 'main/img/main/company-logo_beribit.png' %}" alt="">
            </div>
            <div class="footer__company-item"><img src="{% static 'main/img/main/company-logo_totalcoin.png' %}" alt="">
            </div>
            <div class="footer__company-item"><img src="{% static 'main/img/main/company-logo_gateio.png' %}" alt="">
            </div>
            <div class="footer__company-item"><img src="{% static 'main/img/main/company-logo_bitget.png' %}" alt="">
            </div>
            <div class="footer__company-item"><img src="{% static 'main/img/main/company-logo_hodl.png' %}" alt="">
            </div>
            <div class="footer__company-item"><img src="{% static 'main/img/main/company-logo_mexc.png' %}" alt="">
            </div>
         </div>
      </div>
      <div class="footer__line"></div>
      <div class="footer__rights">
         <span>© 2023 ARBI TOOLS. All Rights Reserved.</span>
         <a href="{% url 'cookies' %}" target="_blank">Privacy Policy</a>

      </div>
   </div>
</footer>