<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Политика конфиденциальности</title>
</head>
<body>
    <h1>Политика конфиденциальности</h1>

    <p>
        Ваша конфиденциальность очень важна для нас, и поэтому мы открыты в отношении того, как мы собираем, используем и обмениваемся информацией о вас.
    </p>

    <p>
        Мы никогда не продаем персональные данные наших пользователей, а также не передаем информацию пользователей в сторонние сервисы.
    </p>

    <p>
        В контексте настоящей политики конфиденциальности, персональные данные означают любую информацию, относящуюся к идентифицированному или идентифицируемому физическому лицу; идентифицируемое физическое лицо — это лицо, которое может быть идентифицировано прямо или косвенно, в частности, посредством ссылки на идентификатор, такой как имя, идентификационный номер, данные о местоположении, онлайн идентификатор (файлы куки) и т. д. («персональные данные»).
    </p>

    <p>
        В этой политике «мы», «нам», «ARBITOOLS», «сервис» и «наш» относятся к сайту arbitools.ru.
    </p>

    <p>
        Мы можем в отдельных случаях изменять настоящую Политику конфиденциальности. Используя наш Веб-сайт или наши Услуги, вы соглашаетесь соблюдать настоящую Политику конфиденциальности.
    </p>

    <p>
        ARBITOOLS собирает: (a) адреса электронной почты тех, кто общается с нами по электронной почте; (b) совокупную информацию о том, какие страницы пользователи посещают; (c) информацию, предоставленную пользователем (например, информация опроса и/или регистрации на сайте); (d) информацию, связанную с использованием вами Веб-сайта, включая IP-адрес, идентификатор устройства, географическое местоположение, а также дату и время вашего запроса; (e) любую другую информацию, которую вы можете предоставить добровольно.
    </p>

    <p>
        Мы также можем получить ваш адрес электронной почты и идентификатор вашего кошелька, если вы решите оплатить нам за какие-либо услуги.
    </p>

    <h2>Как мы используем информацию?</h2>

    <p>
        ARBITOOLS использует собранную информацию для следующих целей:
    </p>

    <ol>
        <li>Для выполнения контракта или принятия мер, связанных с контрактом, таких как обработка вашей регистрации в ARBITOOLS или отправка вам информации об изменениях в наших условиях или политике;</li>
        <li>Если это необходимо для целей, которые соответствуют законным интересам ARBITOOLS, например: (a) предоставить запрошенную вами информацию или контент; (b) чтобы связаться с вами по поводу наших программ, продуктов, функций или услуг; (c) для улучшения наших услуг и для внутренних деловых целей, таких как идентификация и аутентификация или обслуживание клиентов, отслеживание портфеля и синхронизация пользовательских настроек между устройствами; (d) для обеспечения безопасности нашего Веб-сайта, пытаясь предотвратить несанкционированную или злонамеренную деятельность; (e) для обеспечения соблюдения наших Условий использования и других политик; (f) помогать другим организациям (например, владельцам авторских прав) защищать свои права; (g) адаптировать контент, рекламу и предложения для вас или для других целей, раскрытых на момент сбора.</li>
        <li>Если вы не хотите получать маркетинговую информацию о наших программах, продуктах, функциях или услугах, вы можете отказаться от маркетинговых сообщений.</li>
        <li>Когда вы даете нам согласие, например: (a) когда вы просите нас отправить вам маркетинговую информацию через канал, где нам нужно ваше согласие, включая оповещения через мобильные push-уведомления; (б) если вы даете нам согласие на размещение файлов cookie и использование аналогичных технологий; (c) в других случаях, когда мы просим вас о согласии, для любых других целей, которые могут возникнуть.</li>
        <li>Там, где мы обязаны это сделать по закону. Мы также можем предоставить доступ к вашей личной информации, когда это требуется по закону, для сотрудничества с полицейскими расследованиями или другими судебными разбирательствами, для защиты от неправомерного или несанкционированного использования нашего Веб-сайта, для ограничения нашей юридической ответственности и защиты наших прав или для защищать права, собственность или безопасность посетителей Сайта или общественности.</li>
    </ol>
</body>
</html>
