{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Условия использования ARBITOOLS</title>
    <link rel="icon" href="{% static 'main/img/favicon.svg' %}">
    <link rel="mask-icon" href="{% static 'main/img/favicon.svg' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/fonts/montserrat/stylesheet.css' %}">


</head>

<body>
    {% include 'main/layout_header.html' %}

    <div class="text-content">
        <div class="container">
            <h2>1. Введение</h2>
            <p>1.1 Настоящие Условия использования ARBITOOLS регулируют ваш доступ и использование нашего Веб-сайта, а
                также
                связанного с ним контента, функций, программного обеспечения ("Услуга"). Эти Условия также включают нашу
                Политику конфиденциальности.</p>
            <p>1.2 Термины «мы», «нас» и «наш» также относятся к ARBITOOLS. Термин «вы» относится к лицу, посещающему
                Платформу.
            </p>
            <p>1.3 Пожалуйста, внимательно прочтите настоящие Условия. Они содержат важную информацию о ваших законных
                правах,
                включая ограничения ответственности ARBITOOLS и некоторых третьих лиц, отказ от гарантий и подчинение
                юрисдикции. Каждый раз, когда вы получаете доступ к Сервису любыми способами (например, через Интернет
                или на
                мобильном устройстве), вы безотзывно соглашаетесь соблюдать версию Условий, опубликованную на Платформе
                на
                момент доступа к Платформе. Вы не имеете права использовать Платформу или Сервис, если вы не согласны с
                настоящими Условиями.</p>
            <h2>2. Доступ к сервису</h2>
            <p>2.1 Чтобы получить доступ к Сервису или использовать его, вы должны достичь совершеннолетия,
                установленного
                законом в вашей соответствующей юрисдикции. Сервис предназначен исключительно для вашего личного
                некоммерческого
                использования, если только вы не заключите с нами отдельное соглашение о коммерческом использовании. Вы
                не
                должны использовать Сервис, если мы удалили любую вашу учетную запись или запретили вам использовать
                Платформу
                или Сервис.</p>
            <h2>3. Аккаунт</h2>
            <p>3.1 Вам потребуется иметь учетную запись в ARBITOOLS («Учетная запись»), чтобы использовать некоторые
                части
                Сервиса. Когда вы создаете Учетную запись, вы заявляете и гарантируете, что достигли совершеннолетия в
                вашей
                соответствующей юрисдикции, что вы способны заключать и выполнять юридически обязательные контракты в
                соответствии с применимым законодательством, и что вся информация, которую вы предоставляете, является
                точной и
                достоверной, актуальной, правдивой и полной.</p>
            <p>3.2 Вы несете единоличную ответственность за все действия под вашей Учетной записью. Мы не несем никакой
                ответственности, если ваш пароль и/или учетная запись будут неправомерно присвоены или использованы
                третьей
                стороной. Таким образом, вы соглашаетесь хранить свой пароль в безопасности и постоянно обновлять
                информацию о
                своей учетной записи.</p>
            <p>3.3 За исключением случаев, когда это явно разрешено ARBITOOLS и в соответствии с Условиями и любыми
                другими
                дополнительными условиями, которые единолично и абсолютно определяет ARBITOOLS, вы не имеете права
                создавать
                несколько Учетных записей. Вы не имеете права одалживать, передавать или продавать свою Учетную запись
                или
                информацию об Учетной записи другой стороне и не должны использовать Учетную запись другого пользователя
                без его
                письменного разрешения.</p>
            <p>3.4 ARBITOOLS может время от времени связываться с вами по адресу электронной почты, указанному при
                регистрации
                вашей учетной записи. Вы не сможете отказаться от таких сообщений и берете на себя ответственность за
                актуальность вашего адреса электронной почты. Если вы пропустили какие-либо сообщения из-за неточного,
                устаревшего или неполного адреса электронной почты, ARBITOOLS не будет нести ответственность за любые
                убытки или
                ущерб, вызванные тем, что вы пропустили сообщение.</p>
            <h2>4. Лицензия</h2>
            <p>4.1 Вы должны использовать Сервис только так, как это прямо разрешено настоящими Условиями. Все права, не
                предоставленные вам явно, сохраняются за ARBITOOLS, ее сторонними поставщиками и другими
                соответствующими
                владельцами, если таковые имеются.</p>
            <p>4.2 ARBITOOLS предоставляет через Службу контент, который защищен авторским правом и/или является
                товарным знаком
                ARBITOOLS или сторонних лицензиаров и поставщиков ARBITOOLS (совместно именуемых «Контент»). Для
                ясности,
                Контент должен включать весь такой контент, к которому вы имеете доступ в любое время. Вы признаете, что
                Сервис
                был разработан, скомпилирован, подготовлен, пересмотрен, выбран и упорядочен ARBITOOLS и такими третьими
                лицами
                посредством применения методов и стандартов суждения, разработанных и примененных с затратой
                значительного
                времени, усилий и денег, и представляет собой ценную интеллектуальную ценность. собственность ARBITOOLS
                и других
                лиц. Соответственно, вы должны защищать права собственности ARBITOOLS и всех других лиц, имеющих права
                на
                Сервис, в течение и после окончания срока действия настоящих Условий, а также выполнять все письменные
                запросы,
                сделанные ARBITOOLS, для защиты своих и других договорных, законодательных и общих прав в обслуживание.
            </p>
            <p>4.3 В соответствии с настоящими Условиями и вашим соблюдением настоящих Условий компания ARBITOOLS
                настоящим
                предоставляет вам ограниченную, личную, неисключительную, не подлежащую сублицензированию и
                непередаваемую
                лицензию на использование Контента и использование данной Услуги, в каждом случае исключительно для ваше
                личное
                использование. Вы соглашаетесь не использовать Сервис или любой Контент в каких-либо коммерческих целях.
                За
                исключением вышеуказанной лицензии, вы не имеете никаких других прав на Сервис или любой Контент, и вы
                не имеете
                права изменять, редактировать, копировать, распространять, воспроизводить, публиковать, демонстрировать,
                выполнять, лицензировать, продавать, сдавать в аренду, сдавать в аренду, одалживать, создавать
                производные
                работы, создавать какие-либо индексы, реконструировать, изменять, улучшать, предоставлять доступ или
                каким-либо
                образом использовать Сервис или Контент любым способом.</p>
            <h2>5. Запрещенные действия</h2>
            <p>5.1 Вы соглашаетесь, что не будете:</p>
            <p>5.1.1 Копировать, изменять или создавать производные работы Сервиса или любого Контента;</p>
            <p>5.1.2 Копировать, манипулировать или объединять любой Контент (включая данные) с целью сделать его
                доступным
                любой третьей стороне;</p>
            <p>5.1.3 Обменивать, продавать, сдавать в аренду, одалживать, сдавать в аренду или лицензировать любой
                Контент или
                доступ к Сервису, как на коммерческой основе, так и бесплатно;</p>
            <p>5.1.4 Использовать или внедрять в Сервис любые методы интеллектуального анализа данных, сканирования,
                «очистки»,
                роботизированные или аналогичные автоматизированные методы или методы сбора или извлечения данных, а
                также
                вручную получать доступ, приобретать, отслеживать или копировать любую часть Сервиса или загружать или
                хранить
                Контент.</p>
            <p>5.1.5 Делать чрезмерные запросы на информацию или предпринимать любые действия, которые мешают, нарушают
                работу
                или налагают чрезмерную нагрузку на Сервис или любой сервер или сеть, подключенную к Сервису, или
                негативно
                влияют на качество или доступность любого Контента, скорость или функциональность Сервиса;</p>
            <p>5.1.6 Внедрять в Сервис или Платформу вирус, троянский конь, червь, бомбу замедленного действия или
                другое
                вредоносное ПО или использовать любое устройство, программное обеспечение или процедуру для обхода
                любого
                программного или аппаратного обеспечения, которое запрещает объемные запросы информации;</p>
            <p>5.1.7 Нарушать, обходить или обходить любые меры безопасности, предназначенные для ограничения или
                предотвращения
                доступа к Платформе, Контенту или Сервису;</p>
            <p>5.1.8 В противном случае пытаться получить несанкционированный доступ к Сервису, любому Контенту или к
                любым
                компьютерным системам или сетям, подключенным к Сервису или любому серверу ARBITOOLS, будь то путем
                взлома,
                подбора пароля, несанкционированного использования чужого пароля/учетных данных или любыми другими
                способами;
            </p>
            <p>5.1.9 Ограничивать, блокировать или препятствовать использованию Сервиса любым другим пользователем (в
                том числе
                путем взлома или порчи Платформы);</p>
            <p>5.1.10 Внедрять или иным образом распространять через Платформу любую компьютерную программу, которая
                повреждает,
                мешает, перехватывает, собирает, публикует или раскрывает любую систему, данные или личную информацию
                нашей или
                любой третьей стороны;</p>
            <p>5.1.11 Использовать любые наши товарные знаки, знаки обслуживания, торговые наименования или логотипы или
                логотипы любых третьих лиц, отображаемые на Платформе;</p>
            <p>5.1.12 Изменить или удалить любые уведомления об авторских правах или других правах собственности в
                Контенте;</p>
            <p>5.1.13 Использовать Веб-сайт, Контент или Сервис для или в связи с любой деятельностью, которая нарушает
                любой
                применимый закон;</p>
            <p>5.1.14 Использовать чужой аккаунт, который был передан вам третьей стороной;</p>
            <p>5.1.15 Давать доступ в свой аккаунт третьим лицам.</p>
            <h2>6. Право собственности и интеллектуальная собственность</h2>
            <p>6.1 В соответствии с настоящими Условиями вы можете просматривать, распечатывать и делать копии Контента
                для
                личного использования. Вы не имеете права копировать, воспроизводить, загружать, «скребать экран»,
                хранить,
                передавать, транслировать, публиковать, изменять, создавать производные работы, демонстрировать,
                исполнять,
                распространять, перераспределять, продавать, лицензировать, сдавать в аренду, сдавать в аренду или иным
                образом
                использовать, передавать (в печатном, электронном или другом формате) или использовать любой Контент
                полностью
                или частично любым способом, не соответствующим настоящим Условиям, без нашего предварительного
                письменного
                разрешения.</p>
            <p>6.2 В отношениях между ARBITOOLS и вами весь Контент принадлежит или контролируется ARBITOOLS. ARBITOOLS,
                ее
                логотип и, за исключением случаев, указанных ниже, все другие названия продуктов или услуг или слоганы,
                отображаемые в Сервисе, являются зарегистрированными товарными знаками и/или торговыми марками ARBITOOLS
                или ее
                поставщиков или лицензиаров по общему праву и не могут быть скопированы, имитированы или использованы
                полностью
                или частично без предварительного письменного разрешения ARBITOOLS или соответствующего владельца
                товарного
                знака. Кроме того, внешний вид Сервиса, включая все заголовки страниц, пользовательскую графику, значки
                кнопок и
                сценарии, является знаком обслуживания, товарным знаком и/или фирменным знаком ARBITOOLS и не может быть
                скопирован, имитирован или использован полностью или частично без предварительного письменного
                разрешения
                ARBITOOLS. Все другие товарные знаки, зарегистрированные товарные знаки, названия продуктов, названия
                компаний
                или логотипы, упомянутые в Сервисе, являются собственностью их соответствующих владельцев. Ссылка на
                любые
                продукты, услуги, процессы или другую информацию по торговому наименованию, товарному знаку,
                производителю,
                поставщику или иным образом не представляет собой и не подразумевает одобрения, спонсорства или
                рекомендации со
                стороны ARBITOOLS.</p>
            <p>6.3 Ничто из содержащегося в настоящих Условиях не дает вам каких-либо прав на интеллектуальную
                собственность
                ARBITOOLS или третьих лиц.</p>
            <p>6.4 «ARBITOOLS» и все связанные с ним логотипы, товарные знаки, знаки обслуживания и торговые
                наименования
                являются исключительно собственностью ARBITOOLS. Отсутствие названия, логотипа или другого знака в
                настоящем
                документе не означает отказ от каких-либо и всех прав интеллектуальной собственности, установленных
                ARBITOOLS.
                Другие товарные знаки, названия и логотипы, используемые на Сайте, являются собственностью
                соответствующих
                владельцев. Вы не имеете права использовать что-либо из вышеперечисленного.</p>
            <p>6.5 Вы признаете, что ARBITOOLS и/или ее поставщики владеют авторскими правами на весь Контент в
                соответствии с
                действующим законодательством (включая законы об авторском праве и другие законы об интеллектуальной
                собственности) и сохраняют за собой все права на такой Контент.</p>
            <h2>7. Подписка и оплата услуг</h2>
            <p>7.1 Вы можете бесплатно стать зарегистрированным лицом Сервиса. Как регистрант, вы будете иметь
                возможность
                использовать некоторые, но не все, функции и инструменты, доступные в рамках Сервиса.</p>
            <p>7.2 Чтобы получить доступ к дополнительным функциям, включая возможность использования многих наших
                инструментов,
                вы должны стать подписчиком Сервиса.</p>
            <p>7.3 Мы предлагаем платные ежедневные и ежемесячные планы подписки, также постоянный план подписки. Эти
                подписки
                оплачиваются авансом ежедневно, ежемесячно или единоразово в зависимости от вашего плана подписки и в
                соответствии с вашим расчетным периодом. Таким образом, вы признаете и соглашаетесь с тем, что вы будете
                осуществлять периодические платежи за это.</p>
            <p>7.4 Вы в любой момент можете перестать вносить периодические платежи за пользование сервисом.</p>
            <p>7.5 Любое понижение версии вступит в силу только после окончания текущего периода подписки, и положения
                этого
                раздела будут продолжать применяться к таким планам подписки с пониженной версией.</p>
            <p>7.6 После совершения оплаты за услуги сервиса, ваш аккаунт моментально получает доступ к описанным
                возможностям
                сервиса, которые имеют конфиденциальную информацию. Поэтому возврат средств невозможен, так как услуга
                уже была
                оказана в полной мере.</p>
            <h2>8. Отказ от ответственности</h2>
            <p>8.1 Вся информация, предоставленная на этом сайте, является общего характера и может быть использована
                только в
                образовательных и развлекательных целях.</p>
            <p>8.2 ARBITOOLS не несет ответственности за какие-либо потери или убытки, даже если информацию для
                проведения
                сделок вы взяли с этого сайта.</p>
            <p>8.3 Мы не рекомендуем использовать нашу информацию для принятия торговых решений и инвестировать в
                различные
                финансовые инструменты.</p>
            <p>8.4 Вся ответственность за принятие торговых решений и инвестиций лежит полностью на вас.</p>
            <p>8.5 Контент, предоставляемый в рамках Сервиса, передается в ARBITOOLS несвязанными сторонними
                поставщиками.
                ARBITOOLS не проверяет весь Контент на точность, не проверяет Контент на полноту или надежность, а также
                не
                гарантирует точность, полноту, надежность или любой другой аспект любого Контента.</p>
            <p>8.6 Сервис может содержать ссылки на сторонние сайты. Вы используете все ссылки на сторонние веб-сайты на
                свой
                страх и риск. Мы не отслеживаем и не контролируем, а также не предъявляем никаких претензий или
                заявлений в
                отношении сторонних веб-сайтов. В той степени, в которой такие ссылки предоставляются нами, они
                предоставляются
                только для удобства, и ссылка на сторонние веб-сайты не подразумевает нашего одобрения, принятия или
                спонсорства
                таких сторонних веб-сайтов или нашей принадлежности к ним.</p>
            <p>8.7 В любое время и по единоличному и абсолютному усмотрению ARBITOOLS может (полностью или частично)
                изменить,
                приостановить или прекратить предоставление Услуги и/или любого Контента без предварительного
                уведомления по
                любой причине. Мы не несем ответственности перед вами или какой-либо третьей стороной за любое такое
                изменение,
                приостановку или прекращение действия.</p>
            <h2>9. Изменения в настоящих Условиях Использования</h2>
            <p>9.1 Мы можем время от времени пересматривать настоящие Условия без предварительного уведомления. Вы
                обязаны
                соблюдать любые изменения в настоящих Условиях после публикации таких изменений в Сервисе. Вам следует
                часто
                проверять настоящие Условия, чтобы убедиться, что вы ознакомлены с самой последней версией Условий.</p>
            <h2>10. Общее</h2>
            <p>10.1 Настоящие Условия (и любые другие условия или соглашения, упомянутые в настоящем документе, включая
                нашу <a href="{% url 'privacy_policy' %}">Политику конфиденциальности</a>Политику конфиденциальности),
                представляют
                собой полное соглашение между вами и ARBITOOLS, касающееся использования вами Сервиса, и заменяют собой
                все
                предыдущие или одновременные сообщения, электронные, устные или письменные, между вами и ARBITOOLS в
                отношении
                Сервиса. Печатная версия настоящих Условий и любого уведомления, предоставленного в электронной форме,
                допускается в судебных или административных разбирательствах, основанных на настоящих Условиях или
                связанных с
                ними, в той же степени и на тех же условиях, что и другие деловые документы и записи, первоначально
                созданные и
                хранящиеся в печатная форма.</p>
            <p>10.2 Вы соглашаетесь с тем, что между вами и ARBITOOLS и/или ее аффилированными лицами не существует
                никаких
                совместных предприятий, агентств, партнерств или трудовых отношений в результате действия настоящих
                Условий или
                использования Сервиса.</p>
            <p>10.3 Ни при каких обстоятельствах ARBITOOLS не несет ответственности за любой сбой или задержку в
                выполнении
                своих обязательств по настоящему Соглашению, возникающие в результате или вызванные, прямо или косвенно,
                силами,
                находящимися вне ее контроля, включая, помимо прочего, забастовки, остановки работы, несчастные случаи,
                действия
                войны или терроризма, гражданских или военных беспорядков, пандемий, ядерных или природных катастроф или
                стихийных бедствий, а также перебоев, потерь или сбоев в работе коммунальных служб, средств связи или
                компьютерных (программных и аппаратных) услуг.</p>
        </div>
    </div>

    {% include 'main/layout_footer.html' %}
    {% include 'main/layout_modal.html' %}
</body>
<script src="{% static 'main/js/login.js' %}"></script>

</html>