header {
    height: 5rem;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    width: 30%;
}

.navigation-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-link {
    list-style: none;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    color: #697CA6;
    text-shadow: 0px 0px 5px #E6E6E6;
    /* margin-right: 20px; */
}

.active {
    font-weight: 700;  
}

.nav-button {
    width: 113px;
    height: 43px;    
    background: #D2E1FF;
    border-radius: 2px;
    border: none;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3A79FF;
}

/* .other-nav, icons-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.other-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.icons-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%; 
    margin-right: 10px;
}