.logo-block-items {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logos-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 145px;
}