.testmonials-block {
    width: 100%;
    height: 479px;    
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15%;
}

.testmonials__text-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 35%;
    height: 45%;
}

.testmonials__first-head-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3D4F9F;
}

.testmonials__main-head-text {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    color: #3D4F9F;
}

.testmonials__slider-block {
    width: 55%;
}

.testmonials__slider-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 55%;
}

.testmonials__slider-block-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testmonials__slider-block-item {
    width: 423px;
    height: 175.37px;    
    background: #FFFFFF;
    border: 1px solid #D8E3FE;
    box-shadow: 0px 5px 50px #F3F5FA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10%;
    position: relative;    
}

.testmonials__slider-block-item-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #676F95;
}

.testmonials__slider-block-item-img {
    border-radius: 100%;
    position: absolute;
    bottom: -20%;
    left: 45%;
}

.testmonials__second-item {
    width: 423px;
    height: 175.37px;    
    background: #FFFFFF;
    border: 1px solid #D8E3FE;
    box-shadow: 0px 5px 50px #F3F5FA;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    transform: translateX(20%);
}

.testmonials__second-item-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: #8D96BD;
}

.testmonials__dotts {
    margin-left: 25%;
    width: 20%;
}