.performans-block {
    width: 100%;
    height: 342px;
    display: flex;
}

.performans__speed-block {
    width: 50%;
    height: 100%;
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
}

.performans__peoples-block {
    width: 50%;
    height: 100%;
    background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
}

/* .performans__speed-block,
.performans__peoples-block,
.performans__speed-block-items,
.performans__peoples-block-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.performans__speed-block,
.performans__speed-block-items {
    align-items: end;
}

.performans__peoples-block,
.performans__peoples-block-items {
    align-items: start;
}

.performans__speed-block-items, 
.performans__peoples-block-items {
    height: 80%;
} */

/* .performans__item-head-text
.performans__item-body-text {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 83px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.performans__item-body-text {    
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;    
} */

.performans__speed-block,
.performans__peoples-block {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 0 5%;
}

.performans__speed-block-items,
.performans__peoples-block-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
}

.performans__speed-block-items,
.performans__speed-block {    
    align-items: end;
}

.performans__peoples-block-items,
.performans__peoples-block {    
    align-items: start;
}

.performans__item-head-text,
.performans__item-body-text {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 83px;
    /* text-align: right; */
    letter-spacing: 0.03em;    
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.performans__item-body-text {    
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    width: 50%;
    
}


.performans__speed-block-text {
    color: #FFFFFF;
}

.performans__people-block-text {
    color: #5E80FF;
}

