{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Восстановление пароля</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/slick.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/fonts/montserrat/stylesheet.css' %}">
</head>

<body>
    {% include 'main/layout_header.html' %}

    <div class="content">
        {% if validlink %}
        <div class="modal__block modal__block_new-pass">
            <div class="modal__new-pass">
                <div class="modal__form">
                    <div class="modal__title">Пожалуйста, введите и подтвердите
                        свой новый пароль.</div>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="input-forms">
                            <div>

                                <label for="id_new_password1">Новый пароль:</label>
                                {{ form.new_password1 }}
                            </div>
                            <div>

                                <label for="id_new_password2">Подтвердите пароль:</label>
                                {{ form.new_password2 }}
                            </div>
                        </div>
                        {% if form.errors %}
                        <ul class="error__list">
                            {% for error_list in form.errors.values %}
                            {% for error in error_list %}
                            <li>{{ error }}</li>
                            {% endfor %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <div>
                            <input class="btn btn_black btn_reg" type="submit" value="Изменить мой пароль" />
                        </div>
                    </form>
                </div>
                <div class="modal__img"><img src="{% static 'main/img/main/modal.png' %}" alt=""></div>
            </div>
        </div>

        {% else %}

        <div class="modal__block">
            <div class="modal__new-pass">
                <div class="modal__content">
                    <div class="modal__form">
                        <div class="modal__title">Password reset failed</div>
                        <p class="modal__error-text">The password reset link was invalid, possibly because it has
                            already
                            been
                            used. Please request a new
                            password
                            reset.
                        </p>
                    </div>
                    <div class="modal__img"><img src="{% static 'main/img/main/modal.png' %}" alt=""></div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% include 'main/layout_footer.html' %}

</body>
<script>
    document.querySelector('[data-link="reg"]').classList.add('hide')
    document.querySelector('[data-link="login"]').classList.add('hide')
</script>

</html>