<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <div class="container">
        <h2>Сброс пароля</h2>
        <p>Уважаемый(ая) {{ username }},</p>
        <p>Вы запросили сброс пароля для вашей учетной записи.</p>
        <p>Пожалуйста, перейдите по следующей ссылке для сброса пароля:</p>
        <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Сбросить пароль</a></p>
        <p>Ссылка действительна в течение {{ valid_time }} часов.</p>
        <p>Спасибо, что пользуетесь нашим сервисом!</p>
        <p>С уважением,<br>Команда Arbitools</p>
    </div>
</body>
</html>
