{% load static %}

{% for item in selected %}
<div class="table-item">
   <div class="table-item__name-col">
      <p class="table-item__name">{{ item.name }}</p>
      <div class="table-item__orders">
         <div>
            <p>Ордера:</p>
            <p>{{ item.order_q }}</p>
         </div>
         <div>
            <p>Выполнено:</p>
            <p>{{ item.order_p }} %</p>
         </div>
      </div>
   </div>
   <div class="table-item__price">
      <p><span class="mobile-title">Цена: </span>{{ item.price }}</p>
   </div>
   <div class="table-item__limit">
      <p><span class="mobile-title">Лимит: </span>{{ item.lim_min }} - {{ item.lim_max }}</p>
   </div>
   <div class="table-item__payments">
      {% for payment in item.payments %}
      <div class="payment__item">
         <img class="payment__img" alt="">
         <p class="payments__name">{{ payment }}</p>
      </div>
      {% endfor %}
   </div>
   <div class="table-item__favorite">
      <p>
         <a target="_blank">
            <span class="btn btn_black btn_favorite">{{item.exchange}}</span>
            <img class="mobile-btn" alt="{{item.exchange}}">
         </a>
      </p>
   </div>

</div>
{% empty %}
<div>
   <div class="table-item_empty">Нет данных для отображения</div>
</div>
{% endfor %}