{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Таблица для поиска лучших P2P курсов. Сканер для анализа рынка и поиска P2P связок – упростит поиск лучшей цены входа и выхода из сделки.">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'main/img/favicon.svg' %}">
    <link rel="mask-icon" href="{% static 'main/img/favicon.svg' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/fonts/montserrat/stylesheet.css' %}">
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date();
            for (var j = 0; j < document.scripts.length; j++) { if (document.scripts[j].src === r) { return; } }
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(95116621, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/95116621" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</head>

<body class="body_buy_table">
    <div class="wrapper">
        {% include 'main/layout_header.html' %}

        <!-- Верхние бары -->
        <div id="div2" class="my-div">
            <div class="container">
                <div class="navbar">
                    <a class="nav-link" data-page="buy">Покупка</a>
                    <a class="nav-link" data-page="sell">Продажа</a>
                </div>
            </div>
        </div>
        <div id="div3" class="my-div" style="display:none">
            <div class="container">
                <div class="navbar">
                    <a class="nav-link" data-page="p2plinks_2">P2P в 2
                        действия</a>
                    <a class="nav-link" data-page="p2plinks_3">P2P в 3
                        действия</a>
                </div>
            </div>
        </div>

        <!-- <div class="container">
            <div class="title__wrapper">
                <h1 class="price__title">Мониторинг P2P рынка</h1>
            </div>
        </div> -->
        <div class="container">
            <div class="title__wrapper">
                <h1 class="best-price__title">Бесплатный сканер для поиска P2P связок</h1>
            </div>
            <section class="price-table">
                <div class="sidebar sidebar__price-table">
                    {% csrf_token %}
                    <div class="sidebar__item_price-table">
                        <input id="token_btn_usdt" name="token" type="radio" value="USDT" checked>
                        <label for="token_btn_usdt">USDT</label>
                    </div>
                    <div class=" sidebar__item_price-table">
                        <input id="token_btn_btc" name="token" type="radio" value="BTC">
                        <label for="token_btn_btc">BTC</label>
                    </div>
                    <div class="sidebar__item_price-table">
                        <input id="token_btn_eth" name="token" type="radio" value="ETH">
                        <label for="token_btn_eth">ETH</label>
                    </div>
                    <!-- <div class="sidebar__item_price-table">
                            <input id="token_btn_busd" name="token" type="radio" value="BUSD">
                            <label for="token_btn_busd">BUSD</label>
                        </div> -->
                    <!-- <div class="sidebar__item_price-table">
                            <input id="token_btn_bnb" name="token" type="radio" value="BNB">
                            <label for="token_btn_bnb">BNB</label>
                        </div> -->
                    <!-- <div class="sidebar__item_price-table">
                        <input id="token_btn_doge" name="token" type="radio" value="DOGE">
                        <label for="token_btn_doge"> DOGE</label>
                    </div> -->
                    <!-- <div class="sidebar__item_price-table">
                        <input id="token_btn_trx" name="token" type="radio" value="TRX">
                        <label for="token_btn_trx">TRX</label>
                    </div> -->
                    <!-- <div class="sidebar__item_price-table">
                        <input id="token_btn_usdd" name="token" type="radio" value="USDD">
                        <label for="token_btn_usdd">USDD</label>
                    </div> -->
                    <div class="sidebar__item_price-table">
                        <input id="token_btn_usdc" name="token" type="radio" value="USDC">
                        <label for="token_btn_usdc">USDC</label>
                    </div>
                    <!-- <div class="sidebar__item_price-table">
                        <input id="token_btn_ht" name="token" type="radio" value="HT">
                        <label for="token_btn_ht">HT</label>
                    </div> -->
                    <!-- <div class="sidebar__item_price-table">
                        <input id="token_btn_eos" name="token" type="radio" value="EOS">
                        <label for="token_btn_eos">EOS</label>
                    </div> -->
                    <!-- <div class="sidebar__item_price-table">
                        <input id="token_btn_xrp" name="token" type="radio" value="XRP">
                        <label for="token_btn_xrp">XRP</label>
                    </div> -->
                    <!-- <div class="sidebar__item_price-table">
                        <input id="token_btn_ltc" name="token" type="radio" value="LTC">
                        <label for="token_btn_ltc">LTC</label>
                    </div> -->
                    <!-- <div class="sidebar__item_price-table">
                        <input id="token_btn_gmt" name="token" type="radio" value="GMT">
                        <label for="token_btn_gmt">GMT</label>
                    </div> -->
                    <div class="sidebar__item_price-table">
                        <input id="token_btn_ton" name="token" type="radio" value="TON">
                        <label for="token_btn_ton">TON</label>
                    </div>
                    <div class="sidebar__item_price-table">
                        <input id="token_btn_xmr" name="token" type="radio" value="XMR">
                        <label for="token_btn_xmr">XMR</label>
                    </div>
                    <!-- <div class="sidebar__item_price-table">
                        <input id="token_btn_dai" name="token" type="radio" value="DAI">
                        <label for="token_btn_dai">DAI</label>
                    </div> -->
                    <!-- <div class="sidebar__item_price-table">
                        <input id="token_btn_tusd" name="token" type="radio" value="TUSD">
                        <label for="token_btn_tusd">TUSD</label>
                    </div> -->
                    <!-- <div class="sidebar__item_price-table">
                            <input id="token_btn_rub" name="token" type="radio" value="RUB">
                            <label for="token_btn_rub">RUB</label>
                        </div> -->
                </div>
                <div class="price-table__title-block">
                    <div class="price-table__title-item price-table__title-item_market">Биржа</div>
                    <div class="price-table__title-item price-table__title-item_payment">Платежная система</div>
                    <div class="price-table__title-item price-table__title-item_buy">Цена</div>
                    <!-- <div class="price-table__title-item price-table__title-item_sell">Sell</div> -->
                    <div class="price-table__title-item price-table__title-item_limit">Лимиты</div>
                    <div class="price-table__title-item price-table__title-item_reserve">Резервы</div>
                </div>
                <div class="price-table__content">
                </div>
            </section>
        </div>
    </div>

    <!-- модальные окна  -->
    {% include 'main/layout_modal.html' %}

    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->

    {% block script_showSelect %}{% endblock %}
    <script src="{% static 'main/js/links.js' %}"></script>
    <script src="{% static 'main/js/login.js' %}"></script>
    <script src="{% static 'main/js/best_price.js' %}"></script>
</body>

</html>