{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Межбиржевые связки</title>
    <meta name="description"
        content="Ищешь межбиржевые связки? Наш инструмент уже все сделал за тебя, выбирай связки и торгуй, анализ ликвидности, проверка сетей…">
    <link rel="icon" href="{% static 'main/img/favicon.svg' %}">
    <link rel="mask-icon" href="{% static 'main/img/favicon.svg' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/fonts/montserrat/stylesheet.css' %}">
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date();
            for (var j = 0; j < document.scripts.length; j++) { if (document.scripts[j].src === r) { return; } }
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(95116621, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/95116621" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</head>

<body>
    {% include 'main/layout_header.html' %}
    <!-- Боковая панель -->
    <div class="container">
        <div class="title__wrapper">
            <h1 class="cross-market__title">Связки для межбиржевого арбитража</h1>
        </div>
    </div>

    <div class="container">
        <form class="link-cross-market__form">
            {% csrf_token %}
            <div class="sidebar sidebar_links">
                <div class="sidebar__filters sidebar__filters_cross-market">

                    <div class="sidebar__block">
                        <h3 class="sidebar__title">Исключить биржи на покупку</h3>
                        <div class="sidebar__select_item sidebar__title_market-buy hidden"><span></span>
                            <span class="select-title"></span>
                            <div class="sidebar__select-list hidden">
                                <div class="sidebar__select-list-wrapper">
                                    <input id="checkbox-exchange-buy_bybit-crossmarket" name="exchanges_buy"
                                        type="checkbox" value="bybit">
                                    <label for="checkbox-exchange-buy_bybit-crossmarket">Bybit</label>
                                    <input id="checkbox-exchange-buy_binance-crossmarket" name="exchanges_buy"
                                        type="checkbox" value="binance">
                                    <label for="checkbox-exchange-buy_binance-crossmarket">Binance</label>
                                    <input id="checkbox-exchange-buy_huobi-crossmarket" name="exchanges_buy"
                                        type="checkbox" value="huobi">
                                    <label for="checkbox-exchange-buy_huobi-crossmarket">Huobi</label>
                                    <input id="checkbox-exchange-buy_okx-crossmarket" type="checkbox"
                                        name="exchanges_buy" value="okx">
                                    <label for="checkbox-exchange-buy_okx-crossmarket">Okx</label>
                                    <input id="checkbox-exchange-buy_bitget-crossmarket" type="checkbox"
                                        name="exchanges_buy" value="bitget">
                                    <label for="checkbox-exchange-buy_bitget-crossmarket">BitGet</label>
                                    <!-- <input id="checkbox-exchange-buy_garantex-crossmarket" name="exchanges_buy"
                                        type="checkbox" value="garantex">
                                    <label for="checkbox-exchange-buy_garantex-crossmarket">Garantex</label> -->
                                    <!-- <input id="checkbox-exchange-buy_bitpapa-crossmarket" name="exchanges_buy"
                                        type="checkbox" value="bitpapa">
                                    <label for="checkbox-exchange-buy_bitpapa-crossmarket">Bitpapa</label> -->
                                    <!-- <input id="checkbox-exchange-buy_beribit-crossmarket" name="exchanges_buy"
                                        type="checkbox" value="beribit">
                                    <label for="checkbox-exchange-buy_beribit-crossmarket">Beribit</label> -->
                                    <!-- <input id="checkbox-exchange-buy_hodlhodl-crossmarket" name="exchanges_buy"
                                        type="checkbox" value="hodlhodl">
                                    <label for="checkbox-exchange-buy_hodlhodl-crossmarket">Hodl Hodl</label> -->
                                    <!-- <input id="checkbox-exchange-buy_mexc-crossmarket" name="exchanges_buy" type="checkbox"
                                        value="mexc">
                                    <label for="checkbox-exchange-buy_mexc-crossmarket">Mexc</label> -->
                                    <input id="checkbox-exchange-buy_kucoin-crossmarket" name="exchanges_buy"
                                        type="checkbox" value="kucoin">
                                    <label for="checkbox-exchange-buy_kucoin-crossmarket">Kucoin</label>
                                    <!-- <input id="checkbox-exchange-buy_pancake-crossmarket" name="exchanges_buy"
                                        type="checkbox" value="pancake">
                                    <label for="checkbox-exchange-buy_pancake-crossmarket">Pancake</label> -->
                                    <input id="checkbox-exchange-buy_gateio-crossmarket" name="exchanges_buy"
                                        type="checkbox" value="gateio">
                                    <label for="checkbox-exchange-buy_gateio-crossmarket">Gate.io</label>
                                    <!-- <input id="checkbox-exchange-buy_totalcoin-crossmarket" name="exchanges_buy"
                                        type="checkbox" value="totalcoin">
                                    <label for="checkbox-exchange-buy_totalcoin-crossmarket">Totalcoin</label> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar__block">
                        <h3 class="sidebar__title">Исключить биржи на продажу</h3>
                        <div class="sidebar__select_item sidebar__title_market-sell hidden"><span></span>
                            <span class="select-title"></span>
                            <div class="sidebar__select-list hidden">
                                <div class="sidebar__select-list-wrapper">
                                    <input id="checkbox-exchange-sell_bybit-crossmarket" name="exchanges_sell"
                                        type="checkbox" value="bybit">
                                    <label for="checkbox-exchange-sell_bybit-crossmarket">Bybit</label>
                                    <input id="checkbox-exchange-sell_binance-crossmarket" name="exchanges_sell"
                                        type="checkbox" value="binance">
                                    <label for="checkbox-exchange-sell_binance-crossmarket">Binance</label>
                                    <input id="checkbox-exchange-sell_huobi-crossmarket" name="exchanges_sell"
                                        type="checkbox" value="huobi">
                                    <label for="checkbox-exchange-sell_huobi-crossmarket">Huobi</label>
                                    <input id="checkbox-exchange-sell_okx-crossmarket" type="checkbox"
                                        name="exchanges_sell" value="okx">
                                    <label for="checkbox-exchange-sell_okx-crossmarket">Okx</label>
                                    <input id="checkbox-exchange-sell_bitget-crossmarket" type="checkbox"
                                        name="exchanges_sell" value="bitget">
                                    <label for="checkbox-exchange-sell_bitget-crossmarket">BitGet</label>
                                    <!-- <input id="checkbox-exchange-sell_garantex-crossmarket" name="exchanges_sell"
                                        type="checkbox" value="garantex">
                                    <label for="checkbox-exchange-sell_garantex-crossmarket">Garantex</label>
                                    <input id="checkbox-exchange-sell_bitpapa-crossmarket" name="exchanges_sell"
                                        type="checkbox" value="bitpapa">
                                    <label for="checkbox-exchange-sell_bitpapa-crossmarket">Bitpapa</label>
                                    <input id="checkbox-exchange-sell_beribit-crossmarket" name="exchanges_sell"
                                        type="checkbox" value="beribit">
                                    <label for="checkbox-exchange-sell_beribit-crossmarket">Beribit</label>
                                    <input id="checkbox-exchange-sell_hodlhodl-crossmarket" name="exchanges_sell"
                                        type="checkbox" value="hodlhodl">
                                    <label for="checkbox-exchange-sell_hodlhodl-crossmarket">Hodl Hodl</label> -->
                                    <!-- <input id="checkbox-exchange-sell_mexc-crossmarket" name="exchanges_sell"
                                        type="checkbox" value="mexc">
                                    <label for="checkbox-exchange-sell_mexc-crossmarket">Mexc</label> -->
                                    <input id="checkbox-exchange-sell_kucoin-crossmarket" name="exchanges_sell"
                                        type="checkbox" value="kucoin">
                                    <label for="checkbox-exchange-sell_kucoin-crossmarket">Kucoin</label>
                                    <!-- <input id="checkbox-exchange-sell_pancake-crossmarket" name="exchanges_sell"
                                        type="checkbox" value="pancake">
                                    <label for="checkbox-exchange-sell_pancake-crossmarket">Pancake</label> -->
                                    <input id="checkbox-exchange-sell_gateio-crossmarket" name="exchanges_sell"
                                        type="checkbox" value="gateio">
                                    <label for="checkbox-exchange-sell_gateio-crossmarket">Gate.io</label>
                                    <!-- <input id="checkbox-exchange-sell_totalcoin-crossmarket" name="exchanges_sell"
                                        type="checkbox" value="totalcoin">
                                    <label for="checkbox-exchange-sell_totalcoin-crossmarket">Totalcoin</label> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar__block">
                        <h3 class="sidebar__title">Способ торговли</h3>
                        <div class="sidebar__select_item sidebar__select_trade hidden">
                            <span class="select-title"></span>
                            <div class="sidebar__select-list hidden">
                                <input id="radio-M-M" name="trade_type" type="radio" value="M-M_SELL-BUY">
                                <label for="radio-M-M">Maker - Maker</label>
                                <input id="radio-M-T" name="trade_type" type="radio" value="M-T_SELL-SELL">
                                <label for="radio-M-T">Maker - Taker</label>
                                <input id="radio-T-M" name="trade_type" type="radio" value="T-M_BUY-BUY" checked>
                                <label for="radio-T-M">Taker - Maker</label>
                                <input id="radio-T-T" name="trade_type" type="radio" value="T-T_BUY-SELL">
                                <label for="radio-T-T">Taker - Taker</label>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="sidebar__block">
                        <h3 class="sidebar__title">Спред</h3>
                        <input type="number" name="user_spread" value="10"
                            class="sidebar__select_item sidebar__select_spred hidden" required=""
                            id="id_user_spread-nocard">
                    </div> -->
                    <div class="sidebar__block">
                        <h3 class="sidebar__title">Депозит</h3>
                        <input type="number" name="deposit" value="10"
                            class="sidebar__select_item sidebar__select_limit hidden" required=""
                            id="id_user_deposit-crossmarket">
                    </div>

                    <div class="sidebar__block">
                        <div class="sidebar__refresh sidebar__refresh_crossmarket">
                            <input id="checkbox-refresh" type="checkbox" name="refresh">
                            <label for="checkbox-refresh">Обновлять автоматически</label>
                        </div>
                    </div>
                    <div class="sidebar__block">
                    </div>
                    <div class="sidebar__block">
                        <div class="sidebar__favorite sidebar__favorite_nocard">
                            <input id="checkbox-favorite" type="checkbox" name="favorite">
                            <label for="checkbox-favorite">Избранное</label>
                        </div>
                    </div>


                </div>
                <div class="sidebar__favorite-block"></div>
            </div>
        </form>
    </div>

    <div class="container">
        <div class="link-content link-content_crossmarket">
            <div class="link-content__title-block">
                <div class="link-content__title link-content__title_buy">Покупка</div>
                <div class="link-content__title link-content__title_sell">Продажа</div>
                <div class="link-content__title link-content__title_spred">Спред, %</div>
                <div class="link-content__title link-content__title_profit">Прибыль, $</div>
            </div>
            <div class="link-content__content-block"></div>
        </div>
    </div>

    <div class="container">
        <div class="bottom-text">
            <p>Таблица спреда для поиска межбиржевых связок анализирует курсы валют на спотовом рынке криптовалютных
                бирж, рассчитывает и предоставляет все возможные связки с положительным исходом.
            </p>
            <div class="screener__btn-block">
                {% if user.is_authenticated %}
                <a href="{% url 'profile' %}#premium" class="screener__btn btn btn_white">Купить подписку</a>
                {% else %}
                <a class="screener__btn btn btn_white" onclick="openRegBlock()" data-screener='noauth'>Регистрация</a>
                {% endif %}
            </div>
            <h3>Как искать межбиржевые связки </h3>
            <img class="bottom-text__img" src="{% static 'main/img/crossmarket1.png' %}" alt="">
            <p>Для поиска связок в таблице предусмотрены фильтры для настройки выдачи нужных вам связок:
            </p>
            <ol>
                <li><span>Исключение биржи на покупку:</span>
                    здесь вы исключаете биржи, на которых у вас нет депозита для закупа монеты или биржи, которые вам
                    попросту не интересны для торговли.
                </li>
                <li><span>Исключение биржи на продажу:</span>
                    здесь вы исключаете биржи, которые вам не интересны для торговли из за ликвидности или у вас нет на
                    ней готового аккаунта для торговли.
                </li>
                <li><span>Биржи:</span>Binance, Bybit, Huobi, OKX, BitPapa, Garantex, BeriBit, BitGet, Gate io, Kucoin,
                    Totalcoin, Mexc, HodlHodl. Здесь также предусмотрен одиночный выбор - торговля на одной бирже и
                    мультивыбор - поиск межбиржевых P2P связок. Работа с различными P2P платформами увеличивает риск
                    нарваться на скам и поэтому к выбору бирж стоит относиться ответственно.
                </li>
                <li><span>Способ торговли:</span>
                    здесь выбираем способ Тейкер или Мейкер. Кратко объясню в чем отличия: Тейкер покупает или продает
                    криптовалюту по рыночной цене, а Мейкер создает лимитный ордер по цене, которая интересна ему.
                </li>
                <li><span>Депозит: </span>
                    указываете свой депозит, с помощью него таблица будет рассчитывать вашу прибыль, а также сравнивает
                    его с ликвидностью стакана.
                </li>
            </ol>
            <p>Настроив фильтры переходим к выбору связок:
            </p>
            <img class="bottom-text__img" src="{% static 'main/img/crossmarket2.png' %}" alt="">
            <p>При выборе связок обращайте внимание на индикацию цены на продажу и покупку.
            </p>
            <p>Индикация свидетельствует о том есть ли нужный объем в стакане по данной цене. Т.е она сравнивает ваш
                депозит с объемом в стакане.
            </p>
            <img class="bottom-text__img bottom-text__img_vertical" src="{% static 'main/img/crossmarket3.png' %}"
                alt="">
            <ul>
                <li><span>Красная цена</span> означает, что объема в стакане меньше чем ваш депозит, соответственно вы
                    не
                    сможете закупиться или продать своим депозитом по этой цене.
                </li>
                <li><span>Желтая цена</span> означает, что объем в стакане равен или больше вашего депозита, но есть
                    шанс выкупа/продажи.
                </li>
                <li><span>Зеленая цена</span> означает, что объем в стакане на 300$ больше вашего депозите. Это самый
                    высокий шанс торговли по выгодной вам цене.
                </li>
            </ul>
            <img class="bottom-text__img" src="{% static 'main/img/crossmarket4.png' %}" alt="">
            <p>Если курс криптовалюты состоит из большого количества знаков, чтобы увидеть полное значение цены
                необходимо навести на нее курсор.</p>
            <p>Перед началом торговли обязательно нужно быть готовым для быстрой покупки, переводу и продаже монеты, для
                этого мы предусмотрели кнопки перехода на биржу, которые переведут вас на нужную биржу и пару монеты.
            </p>
            <p>Уважаемый пользователь! Нам очень важно, чтобы интерфейс наших инструментов был прост, понятен и главное
                полезен для вашей прибыльной торговли. Поэтомы мы приветствуем обратную связь, готовы выслушать все ваши
                пожелания и критику. </p>
            <p>Удачной торговли!</p>
        </div>
    </div>

    <!-- модальные окна  -->
    {% include 'main/layout_modal.html' %}

    <script src="{% static 'main/js/saveform.js' %}"></script>
    <script src="{% static 'main/js/links.js' %}"></script>
    <script src="{% static 'main/js/login.js' %}"></script>
    <script src="{% static 'main/js/mezhbirzhevye_svyazki.js' %}"></script>
</body>

</html>