<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Регистрация</title>
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <div class="wrapper">
        <div class="header header_login">
            <a class="logo" href="{% url 'index' %}"><img src="./img/logo.jpg" alt=""></a>
            
            <div class="header__content header__content_login">
                <div class="header__btn-block">
                    <!-- <a href="http://80.87.201.112/buy/" class="header__link active">P2P торговля</a>
                    <a href="/p2plinks_2/" class="header__link">P2P Связки</a> -->
                    <!-- <button onclick="toggleDiv('div1')">Главная</button>
                    <button onclick="toggleDiv('div2')">P2P торговля</button>
                    <button onclick="toggleDiv('div3')">P2P Связки</button> -->
                </div>
                <div class="header__login-block">
                    <a class="btn btn_blue" href="/register/?next=/register/">Registration</a>
                    <a class="btn" href="/accounts/login/?next=/register/">Login</a>
                </div>
            </div>
        </div>
        <!-- <div id="div1" class="my-div">
            <div class="container">
                <div class="navbar">
                    <a class="nav-link" href="/">Главная</a>
                </div>
            </div>
        </div>
        <div id="div2" class="my-div">
            <div class="container">
                <div class="navbar">
                    <a class="nav-link" href="/buy/">Покупка</a>
                    <a class="nav-link" href="/sell/">Продажа</a>
                    <a class="nav-link" href="/favorite/">Избранные</a>
                </div>
            </div>
        </div>
        <div id="div3" class="my-div">
            <div class="container">
                <div class="navbar">
                    <a class="nav-link" href="#">P2P Связки Coming soon...</a>
                </div>
            </div>
        </div> -->
        <!-- <script>
            function toggleDiv(showDivId) {
                var divs = document.getElementsByClassName("my-div");
                for (var i = 0; i < divs.length; i++) {
                    if (divs[i].id === showDivId) {
                        divs[i].style.display = "block";
                    } else {
                        divs[i].style.display = "none";
                    }
                }
            }
            window.onload = function () {
                var divs = document.getElementsByClassName("my-div");
                for (var i = 0; i < divs.length; i++) {
                    if (i === 0) {
                        divs[i].style.display = "block";
                    } else {
                        divs[i].style.display = "none";
                    }
                }
            }
        </script> -->
        <div class="content">
            <div class="login-form">
                <h2>Регистрация</h2>
                <form method="post">
                    <div class="input-forms">
                        <input type="hidden" name="csrfmiddlewaretoken"
                            value="dKY6YkHusBecl026zz0xo3a78H2zcdRzp544s4GmfXfRmUgVxnyxLI1I0UZHSgeR">
                        <p>
                            <label for="id_username">Username:</label>
                            <input type="text" name="username" maxlength="150" autofocus required id="id_username">
                            <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_
                                only.</span>
                        </p>
                        <p>
                            <label for="id_email">Email:</label>
                            <input type="email" name="email" maxlength="254" required id="id_email">
                            <span class="helptext">This field is required</span>
                        </p>
                        <p>
                            <label for="id_password1">Password:</label>
                            <input type="password" name="password1" autocomplete="new-password" required
                                id="id_password1">
                            <span class="helptext">
                                <ul>
                                    <li class="active">Your password can’t be too similar to your other personal
                                        information.</li>
                                    <li>Your password must contain at least 8 characters.</li>
                                    <li>Your password can’t be a commonly used password.</li>
                                    <li>Your password can’t be entirely numeric.</li>
                                </ul>
                            </span>
                        </p>
                        <p>
                            <label for="id_password2">Password confirmation:</label>
                            <input type="password" name="password2" autocomplete="new-password" required
                                id="id_password2">
                            <span class="helptext">Enter the same password as before, for verification.</span>
                        </p>
                    </div>
                    <button class="btn btn_blue" type="submit">Отправить</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        // Burger
        const burgerBtn = document.querySelector('.burger-btn');
        const burgerMenu = document.querySelector('.header__content');

        burgerBtn.addEventListener('click', () => {
            burgerBtn.classList.toggle('active');
            burgerMenu.classList.toggle('active');
        })
    </script>
</body>

</html>