{% extends 'price/layout_p2pprices.html' %}

{% block title %}
Курс: Bitcoin, USDT на P2P рынке криптовалют - Актуальные цены
{% endblock %}

{% block script_showSelect %}
<script>
    // Подсветка кнопки в header
    Array.from(document.querySelectorAll('.menu_item')).forEach(element => element.classList.remove('active'));
    document.querySelector('[data-menu="market"]').classList.add('active')
</script>
{% endblock %}



{% block content %}
<!-- не используется -->
<h1>Buy</h1>
{% endblock %}