{% extends 'main/layout_main.html' %}
{% load static %}


{% block modal %}
<div class="modal">
   <div class="modal__container">
      <div class="modal__block">
         <div class="modal__close">
            <div></div>
            <div></div>
         </div>
         <div class="modal__login">
            <div class="modal__content">
               <div class="modal__form">
                  <div class="modal__select-block">
                     <div class="modal__select">
                        <div class="modal__select-btn active" data-btn="login">
                           <div></div>
                        </div>
                        <span>Вход</span>
                     </div>
                     <div class="modal__select">
                        <div class="modal__select-btn" data-btn="registration">
                           <div></div>
                        </div>
                        <span>Регистрация</span>
                     </div>
                  </div>
                  <form method="post">
                     {% csrf_token %}
                     <div class="input-forms">
                        <!-- <div>
                           {{ form.username.label_tag }}
                           {{ form.username }}
                        </div>
                        <div>
                           {{ form.password.label_tag }}
                           {{ form.password }}
                        </div> -->
                        {{ login_form.as_p }}
                     </div>
                     <input class="btn btn_black btn_reg" type="submit" value="Войти">
                     <a class="modal__reset-pass" data-btn="reset">Забыли пароль?</a>

                     <input type="hidden" name="next" value="{{ next }}" />
                     <div class="error-list"></div>
                  </form>
               </div>
               <div class="modal__img"><img src="{% static 'main/img/main/modal.png' %}" alt=""></div>
            </div>
         </div>


         <div class="modal__registration">
            <div class="modal__content">
               <div class="modal__form">
                  <div class="modal__select-block">
                     <div class="modal__select">
                        <div class="modal__select-btn active" data-btn="registration">
                           <div></div>
                        </div>
                        <span>Регистрация</span>
                     </div>
                     <div class="modal__select">
                        <div class="modal__select-btn" data-btn="login">
                           <div></div>
                        </div>
                        <span>Вход</span>
                     </div>
                  </div>

                  <form method="post">
                     <div class="input-forms">
                        {% csrf_token %}
                        {{ register_form.as_p }}
                     </div>
                     <button class="btn btn_black btn_reg" type="submit">Зарегистрироваться</button>
                  </form>
                  <div class="error-list"></div>
               </div>
               <div class="modal__img"><img src="{% static 'main/img/main/modal.png' %}" alt=""></div>
            </div>
         </div>

         <div class="modal__reset">
            <div class="modal__content">
               <div class="modal__form">
                  <div class="modal__title">Забыли свой пароль?</div>
                  <div class="modal__subtitle">Введите свой адрес электронной почты, чтобы получить новый пароль.
                  </div>

                  <form method="post" action="{% url 'register:password_reset' %}">
                     {% csrf_token %}
                     <div class="input-forms">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" class="form-control" required>
                     </div>
                     <input class="btn btn_black btn_reg" type="submit" value="Восстановить пароль">
                  </form>
               </div>
               <div class="modal__img"><img src="{% static 'main/img/main/modal.png' %}" alt=""></div>
            </div>
         </div>

         <div class="modal__message"></div>

      </div>
   </div>
</div>
{% endblock %}