{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'block_spreadtable/css/block_spreadtable.css' %}">
    <title>Доступ ограничен</title>
</head>
<body>
    <h1>Доступ ограничен</h1>
    <p>Добро пожаловать на нашу платформу, предназначенную для серьезных трейдеров и инвесторов!</p>
    <p>Эта страница предоставляет эксклюзивный контент и инструменты, которые помогут вам принимать лучшие инвестиционные решения.</p>
    
    <h2>Почему стоит стать подписчиком?</h2>
    <p>Наша подписка — это ключ к вашему успешному финансовому будущему. Вот почему:</p>
    <ul>
        <li>Эксклюзивные аналитические инструменты: получите доступ к уникальным инструментам для анализа рынка, которые помогут вам выявлять потенциально прибыльные тренды и сделки.</li>
        <li>Подборка лучших предложений: наши эксперты следят за рынком и отбирают лучшие предложения и сделки, чтобы вы могли эффективно вкладывать свои средства.</li>
        <li>Персональная поддержка: наша команда готова ответить на ваши вопросы и предоставить консультации по вашим инвестиционным решениям.</li>
    </ul>
    
    <h2>Как начать зарабатывать больше?</h2>
    <p>Чтобы начать использовать все преимущества нашей платформы, вы должны быть авторизованным пользователем с активной подпиской.</p>
    <p>Выберите один из наших планов подписки, который подходит именно вам, и начните зарабатывать больше уже сегодня!</p>
    <p>Подписка доступна по доступной цене всего $XX в месяц. Ваш успех на рынке в ваших руках!</p>
    
    <h2>Не упустите свой шанс!</h2>
    <p>Зарабатывайте больше с нашей подпиской и примите контроль над своими инвестициями. <a href="/login/">Войдите</a> или <a href="/signup/">зарегистрируйтесь</a>, чтобы начать принимать лучшие финансовые решения!</p>
</body>
</html>
