{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
	<title>{% block title %}{% endblock %}
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description"
		content="Повысьте эффективность арбитража криптовалют с нашим P2P сканером. Найдите выгодные сделки мгновенно. Оптимизируйте вашу стратегию арбитража уже сегодня.">
	<meta http-equiv="Content-type" content="text/html" charset="utf-8" />
	<link rel="icon" href="{% static 'main/img/favicon.svg' %}">
	<link rel="mask-icon" href="{% static 'main/img/favicon.svg' %}">
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'main/css/slick.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'main/fonts/montserrat/stylesheet.css' %}">
</head>

<body>
	{% include 'main/layout_header.html' %}
	<main>
		<section class="main-screen">
			<div class="container">

				<div class="main-screen__content">
					<div class="main-screen__block">
						<h1 class="main-screen__title">
							Сканер для арбитража криптовалют
						</h1>
						<p class="main-screen__text">
							Анализируй рынок, выбирай связку и торгуй
							ТОЛЬКО В ПЛЮС
						</p>

						<div class="main-screen__btn-block">
							{% if user.is_authenticated %}
							<a href="{% url 'profile' %}#premium" class="btn btn_orange btn_main-screen">Попробовать от
								5$</a>
							{% else %}
							<a class="btn btn_orange btn_main-screen" data-screen='noauth'>Попробовать от 5$</a>
							{% endif %}
						</div>
					</div>
					<div class="main-screen__block">
						<img src="{% static 'main/img/main/main-screen.png' %}" alt="">
					</div>
				</div>

			</div>
		</section>

		<section class="company">
			<!-- <div class="container"> -->
			<ul class="company__list">
				<li class="company__item"><img src="{% static 'main/img/main/company-logo_huoby.png' %}" alt=""></li>
				<li class="company__item"><img src="{% static 'main/img/main/company-logo_bitpapa.png' %}" alt=""></li>
				<li class="company__item"><img src="{% static 'main/img/main/company-logo_okx.png' %}" alt=""></li>
				<li class="company__item"><img src="{% static 'main/img/main/company-logo_kucoin.png' %}" alt=""></li>
				<!-- <li class="company__item"><img src="{% static 'main/img/main/company-logo_pexpay.png' %}" alt=""></li> -->
				<li class="company__item"><img src="{% static 'main/img/main/company-logo_binance.png' %}" alt=""></li>
				<li class="company__item"><img src="{% static 'main/img/main/company-logo_bybit.png' %}" alt=""></li>
				<li class="company__item"><img src="{% static 'main/img/main/company-logo_garantex.png' %}" alt=""></li>
				<li class="company__item"><img src="{% static 'main/img/main/company-logo_beribit.png' %}" alt=""></li>
				<li class="company__item"><img src="{% static 'main/img/main/company-logo_totalcoin.png' %}" alt="">
				</li>
				<li class="company__item"><img src="{% static 'main/img/main/company-logo_gateio.png' %}" alt=""></li>
				<li class="company__item"><img src="{% static 'main/img/main/company-logo_bitget.png' %}" alt=""></li>
				<li class="company__item"><img src="{% static 'main/img/main/company-logo_hodl.png' %}" alt=""></li>
				<li class="company__item"><img src="{% static 'main/img/main/company-logo_mexc.png' %}" alt=""></li>
			</ul>
			<!-- </div> -->
		</section>


		<div class="container">
			<div class="call__content">
				<div class="call__title label">Калькулятор дохода</div>
			</div>
			<form class="calculator">
				<div class="calculator__profit">
					<div class="calculator__input-line">
						<div class="calculator__value-block">
							<label for="calculator-profit_deposit">Депозит</label>
							<input type="number" id="calculator-profit_deposit" value="10000" max="1000000" min="500">
							<input type="range" step="500" value="10000" min="500" max="1000000">
						</div>
						<div class="calculator__value-block">
							<label for="calculator-profit_range">Круги в день</label>
							<input type="number" id="calculator-profit_range" value="1" max="20" min="1">
							<input type="range" value="1" min="1" max="20">
						</div>
						<div class="calculator__value-block">
							<label for="calculator-profit_spred">Спред</label>
							<input type="number" id="calculator-profit_spred" value="1" max="10" min="0.5">
							<input type="range" value="1" min="0.5" max="10" step="0.1">
						</div>
						<div class="calculator__value-block">
							<label for="calculator-profit_target">Цель депозита</label>
							<input type="number" id="calculator-profit_target" value="50000">
						</div>
					</div>
					<div class="calculator__total">
						<div class="calculator__total-block">
							<label for="calculator-profit_total">Дней до цели</label>
							<input type="number" id="calculator-profit_total" readonly>
						</div>
					</div>
				</div>

				<div class="calculator__day-profit">
					<div class="calculator__input-line">
						<div class="calculator__value-block">
							<label for="calculator-profit_deposit">Депозит</label>
							<input type="number" id="calculator-day-profit_deposit" value="10000" max="1000000"
								min="500">
							<input type="range" step="500" value="10000" min="500" max="1000000">
						</div>
						<div class="calculator__value-block">
							<label for="calculator-day-profit_range">Круги в день</label>
							<input type="number" id="calculator-day-profit_range" value="1" max="20" min="1">
							<input type="range" value="1" min="1" max="20">
						</div>
						<div class="calculator__value-block">
							<label for="calculator-day-profit_spred">Спред</label>
							<input type="number" id="calculator-day-profit_spred" value="1" max="10" min="0.5">
							<input type="range" value="1" min="0.5" max="10" step="0.1">
						</div>
						<div class="calculator__value-block">
							<label for="calculator-day-profit_target">Цель дохода в день </label>
							<input type="number" id="calculator-day-profit_target" value="50000">
						</div>
					</div>
					<div class="calculator__total">
						<div class="calculator__total-block">
							<label for="calculator-day-profit_total">Дней до цели</label>
							<input type="number" id="calculator-day-profit_total" readonly>
						</div>
					</div>
				</div>
			</form>
		</div>

		<!-- <section class="call">
			<div class="container">
				<div class="call__content">
					<div class="call__title label">ИСКАТЬ СВЯЗКИ ПРОСТО</div>
				</div>
			</div>
		</section> -->

		<!-- <section class="description">
			<div class="container">
				<ul class="description__table">
					<li class="description__card">
						<div class="description__title">
							<p class="label">Работа в реальном</p>
							<p class="label">времени</p>
						</div>
						<div class="description__img"><img src="{% static 'main/img/main/description_work.png' %}"
								alt="">
						</div>
					</li>
					<li class="description__card">
						<div class="description__title">
							<p class="label">Гибкая настройка</p>
							<p class="label">фильтров</p>
						</div>
						<div class="description__img"><img src="{% static 'main/img/main/description_filter.png' %}"
								alt="">
						</div>
					</li>
					<li class="description__card">
						<div class="description__title">
							<p class="label">Широкий выбор</p>
							<p class="label">P2P площадок</p>
						</div>
						<div class="description__img"><img src="{% static 'main/img/main/description_select.png' %}"
								alt="">
						</div>
					</li>
					<li class="description__card">
						<div class="description__title">
							<p class="label">Ликвидные</p>
							<p class="label">платёжки</p>
						</div>
						<div class="description__img"><img src="{% static 'main/img/main/description_pay.png' %}"
								alt="">
						</div>
					</li>
					<li class="description__card">
						<div class="description__title">
							<p class="label">Биржевые и межбирживые связки</p>
						</div>
						<div class="description__img"><img src="{% static 'main/img/main/description_link.png' %}"
								alt="">
						</div>
					</li>
					<li class="description__card">
						<div class="description__title">
							<p class="label">Большой выбор</p>
							<p class="label">криптовалют</p>
						</div>
						<div class="description__img"><img src="{% static 'main/img/main/description_coins.png' %}"
								alt="">
						</div>
					</li>
				</ul>
			</div>
		</section> -->

		<!-- <section class="screener">
			<div class="container">
				<div class="screener__content">
					<div class="screener__block">
						<div class="screener__title">Начать пользоваться P2P сканером</div>
						<div class="screener__subtitle">Не знаешь как искать связи? ArbiTools все сделает за тебя!
						</div>
						<a href="#rates" class="screener__btn btn btn_white">Посмотреть тарифы</a>
					</div>
					<img src="{% static 'main/img/main/screener.png' %}" alt="">
				</div>
			</div>
		</section> -->
		<section class="rates" id='rates'>
			<div class="container">
				<div class="rates__title label">
					<p>Тарифы</p>
				</div>
				<div class="rates__slider-btn_prev"></div>
				<div class="rates__slider-btn_next"></div>
				<div class="rates__slider">
					<div class="rates__slide">
						<div class="rates__item">
							<h3 class="rates__item-title">“ПРОБНЫЙ”</h3>
							<div class="rates__item-price">5$</div>
							<div class="rates__item-subtitle">Тариф для исследования всего функционала Arbi Tools. Оцени
								возможности нашего инструмента, получи доступ на 1 день к Таблицам спреда:</div>
							<ul class="rates__item-description">
								<li>для P2Pшников</li>
								<li>для Арбитража без карт на BestChange</li>
								<li>для Межбиржевого арбитража на CEX и DEX биржах</li>

							</ul>
							<div class="rate__btn-block">
								{% if user.is_authenticated %}
								<a href="{% url 'profile' %}#premium" class="btn btn_white btn_rates">Оформить подписку
								</a>
								{% else %}
								<a class="btn btn_white btn_rates" data-link='noauth'>Оформить подписку
								</a>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="rates__slide">
						<div class="rates__item">
							<h3 class="rates__item-title">"Стандарт"</h3>
							<div class="rates__item-price">20$ - <span class="rates__item-old-price">55$</span></div>
							<div class="rates__item-subtitle">Тариф для тех кто серьезно настроен на становление
								профессиональным арбитражником, получи доступ на 1 месяц к Таблицам спреда:
							</div>
							<ul class="rates__item-description">
								<li>для P2Pшников</li>
								<li>для Арбитража без карт на BestChange</li>
								<li>для Межбиржевого арбитража на CEX и DEX биржах</li>
								<li>Связки без карт в один обмен (редкое явление)</li>
							</ul>
							<div class="rate__btn-block">
								{% if user.is_authenticated %}
								<a href="{% url 'profile' %}#premium" class="btn btn_white btn_rates">Оформить подписку
								</a>
								{% else %}
								<a class="btn btn_white btn_rates" data-link='noauth'>Оформить подписку
								</a>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="rates__slide">
						<div class="rates__item">
							<h3 class="rates__item-title">“ВЕЧНЫЙ”</h3>
							<div class="rates__item-price">500$ - <span class="rates__item-old-price">1000$</span></div>
							<div class="rates__item-subtitle">Тариф для ограниченного количества пользователей. Ты
								получишь бесконечный доступ ко всему функционалу ArbiTools, возможность в принятии
								решения по изменению, улучшению и добавлению новых инструментов для арбитражников.
								Получи вечный доступ к:
							</div>
							<ul class="rates__item-description">
								<li>Таблицам спреда</li>
								<li>Чату арбитражников и разработчиков</li>
							</ul>
							<div class="rate__btn-block">
								{% if user.is_authenticated %}
								<a href="{% url 'profile' %}#premium" class="btn btn_white btn_rates">Оформить подписку
								</a>
								{% else %}
								<a class="btn btn_white btn_rates" data-link='noauth'>Оформить подписку
								</a>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
		</section>
		<section class="manual">
			<div class="container">
				<div class="manual__title">
					<p>Как искать связки</p>
				</div>
				<div class="manual__table">
					<div class="manual__step manual__step1">
						<div class="manual__arrow"><img src="{% static 'main/img/main/arrow.svg' %}" alt=""></div>
						<div class="manual__text-block">
							<div class="manual__step-text">
								<p class="manual__text">Выбираешь способ торговли</p>
								<p class="manual__number">1</p>
							</div>
						</div>
						<div class="manual__img"><img src="{% static 'main/img/main/step1.png' %}" alt=""></div>
					</div>
					<div class="manual__step manual__step2">
						<div class="manual__arrow"><img src="{% static 'main/img/main/arrow.svg' %}" alt=""></div>
						<div class="manual__text-block">
							<div class="manual__step-text">
								<p class="manual__text">Нужные тебе платёжки</p>
								<p class="manual__number">2</p>
							</div>
						</div>
						<div class="manual__img"><img src="{% static 'main/img/main/step2.png' %}" alt=""></div>
					</div>
					<div class="manual__step manual__step3">
						<div class="manual__arrow"><img src="{% static 'main/img/main/arrow.svg' %}" alt=""></div>
						<div class="manual__text-block">
							<div class="manual__step-text">
								<p class="manual__text">Биржи, на которых собираешься торговать</p>
								<p class="manual__number">3</p>
							</div>
						</div>
						<div class="manual__img"><img src="{% static 'main/img/main/step3.png' %}" alt=""></div>
					</div>
					<div class="manual__step manual__step4">
						<div class="manual__arrow"><img src="{% static 'main/img/main/arrow.svg' %}" alt=""></div>
						<div class="manual__text-block">
							<div class="manual__step-text">
								<p class="manual__text">Криптовалюты</p>
								<p class="manual__number">4</p>
							</div>
						</div>
						<div class="manual__img"><img src="{% static 'main/img/main/step4.png' %}" alt=""></div>
					</div>
					<div class="manual__step manual__step5">
						<div class="manual__text-block">
							<div class="manual__step-text">
								<p class="manual__text">Указываешь лимиты и депозит</p>
								<p class="manual__number">5</p>
							</div>
						</div>
						<div class="manual__img"><img src="{% static 'main/img/main/step5.png' %}" alt=""></div>
					</div>
				</div>
			</div>
		</section>
		<section class="quote">
			<div class="container">
				<div class="quote__content">
					<div class="quote__img-top">
						<img src="{% static 'main/img/main/quote_top.png' %}" alt="">
					</div>
					<div class="quote__img-bottom">
						<img src="{% static 'main/img/main/quote_bottom.png' %}" alt="">
					</div>
					<p class="quote__text">
						ArbiTools исключит исходы с отрицательным спредом и предложит
						все возможные варианты для прибыльной торговли.
					</p>
				</div>
			</div>
		</section>

		{% include 'main/layout_footer.html' %}
		{% include 'main/layout_modal.html' %}
	</main>

	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="{% static 'main/js/slick.min.js' %}"></script>
	<script src="{% static 'main/js/login.js' %}"></script>
	<script src="{% static 'main/js/script_main.js' %}"></script>
</body>

</html>