@import url('nullable.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('modules/header.css');
@import url('modules/productivity.css');
@import url('modules/logo_block.css');
@import url('modules/plan_and_manage.css');
@import url('modules/about.css');
@import url('modules/performans.css');
@import url('modules/blog.css');
@import url('modules/testmonials.css');
@import url('modules/customer.css');
@import url('modules/plan.css');
@import url('modules/newsletter.css');
@import url('slider.css');


footer {
    width: 100%;
    height: 200px;   
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-copyright {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #AEB8D0;
    margin-top: 20px;
}

.footer-wrapper {
   height: 50%; 
}


