{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Личный кабинет</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-type" content="text/html" charset="utf-8" />
	<link rel="icon" href="{% static 'main/img/favicon.svg' %}">
	<link rel="mask-icon" href="{% static 'main/img/favicon.svg' %}">
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'main/fonts/montserrat/stylesheet.css' %}">
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
		(function (m, e, t, r, i, k, a) {
			m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
			m[i].l = 1 * new Date();
			for (var j = 0; j < document.scripts.length; j++) { if (document.scripts[j].src === r) { return; } }
			k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
		})
			(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		ym(95116621, "init", {
			clickmap: true,
			trackLinks: true,
			accurateTrackBounce: true,
			webvisor: true
		});
	</script>
	<noscript>
		<div><img src="https://mc.yandex.ru/watch/95116621" style="position:absolute; left:-9999px;" alt="" /></div>
	</noscript>
	<!-- /Yandex.Metrika counter -->
</head>

<body>
	{% include 'main/layout_header.html' %}

	<main>
		<div class="container">
			<div class="navbar navbar_profile">
				<a class="nav-link active" data-page="profile">Профиль пользователя</a>
				<a class="nav-link" data-page="referral">Реферальная программа</a>
			</div>
		</div>

		<div class="page_profile active">
			<section class="user">
				<div class="container">
					<div class="user__title">
						Мой профиль
					</div>
					<div class="user__info">
						<div class="user__info-item user__info-item_name">
							<div class="user__info-title">Имя пользователя:</div>
							<div class="user__info-value">{{ username }}</div>
						</div>
						<div class="user__info-item user__info-item_email">
							<div class="user__info-title">EMAIL:</div>
							<div class="user__info-value">{{ email }}</div>
						</div>
						<div class="user__info-item user__info-item_rate">
							<div class="user__info-title">Подписка:</div>
							{% if subscription_end != '01.01.2000' %}
							<div class="user__info-value">до {{ subscription_end }}</div>
							{% else %}
							<div class="user__info-value">Не активна</div>
							{% endif %}
						</div>
					</div>
				</div>
			</section>
			<section class="premium" id='premium'>
				<div class="container">
					<div class="premium__title">
						Приобрести PREMIUM АККАУНТ
					</div>
					<div class="premium__form">
						<form action="#">
							{% csrf_token %}
							<div class="premium__select-title">Тариф:</div>
							<div class="premium__rate-select">
								{{ subscription.subscription }}
							</div>
							<div class="premium__description">
								<span></span>
							</div>
							<div class="premium__select-title">Криптовалюта:</div>
							<div class="premium__period-select">
								{{ subscription.currency }}
							</div>
							<!-- <div class="premium__select-title">Способ оплаты:</div> -->
							<div class="premium__select-title"></div>
							<div class="premium__pay-select">
								<div class="premium__pay-item">
									<div class="premium__btn" data-pay='cripto'>Оплатить</div>
								</div>
								<div class="premium__pay-item">
									<a href="https://t.me/ArbiToolsS" target="_blank" class="premium__btn">Оплатить
										рублями</a>
								</div>
								<!-- <div class="premium__pay-item">
									<div class="premium__btn" data-pay='fiat'>Binance</div>
								</div> -->
							</div>
						</form>
					</div>
				</div>
			</section>
			<section class="pay-block">
			</section>
			<section class="video-manual">
				<div class="container">
					<div class="video-manual__wrapper">
						<iframe src="https://www.youtube.com/embed/VhKk2uOY4_M?si=N2jgFhF-o17yQ4IJ"
							title="YouTube video player" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen></iframe>
					</div>
				</div>
			</section>
		</div>
		<div class="page_referral">
			<div class="referral">
				<section class="refferal-info">
					<div class="container">
						<div class="user__title">
							Реферальная программа
						</div>
						<div class="user__info">
							<div class="user__info-item user__info-item_name">
								<div class="user__info-title">Ваша реферальная ссылка:</div>
								<div class="user__info-value">{{ request.scheme }}://{{ request.get_host }}/?ref={{referral.referral_code }}</div>
							</div>
							<div class="user__info-item user__info-item_email">
								<div class="user__info-title">Создан в:</div>
								<div class="user__info-value">{{ referral.created_at }}</div>
							</div>
							<div class="user__info-item user__info-item_rate">
								<div class="user__info-title">Переходов:</div>
								<div class="user__info-value">{{ referral.clicks }}</div>
							</div>
						</div>
					</div>
				</section>
				<section class="referral-section referral-users">
					<div class="container">
						<div class="user__title">
							Мои рефералы
						</div>
						<div class="referral-users__wrapper">
							{% if invited_users %}
							<ul class="referral-users__list">
								{% for invited_user in invited_users %}
								<li>{{ invited_user.email }}</li>
								{% endfor %}
							</ul>
							{% else %}
							<p class="referral-users__message">У вас нет рефералов</p>
							{% endif %}
						</div>
					</div>
				</section>

				<section class="referral-section referral-pay">
					<div class="container">
						<div class="user__title">
							Мои платежи
						</div>
						<div class="referral-pay__wrapper">
							<ul class="referral-pay_header">
								<li>Время</li>
								<li>Реферал</li>
								<li>Сумма</li>
							</ul>
							{% if payments %}
							<ul class="referral-pay_list">
								{% for payment in payments %}
								<li>{{ payment.timestamp }}</li>
								<li>{{ payment.email }}</li>
								<li>{{ payment.amount }}</li>
								{% endfor %}
							</ul>
							{% else %}
							<p class="referral-pay__message">Текущие платежи отсутствуют</p>
							{% endif %}
						</div>
					</div>
				</section>

				<section class="referral-section referral-complete_pay">
					<div class="container">
						<div class="user__title">
							История платежей
						</div>
						<div class="referral-complete_pay__wrapper">
							<ul class="referral-complete_pay_header">
								<li>Реферал</li>
								<li>Время</li>
								<li>Токен</li>
								<li>Валюта</li>
								<li>Сумма</li>
							</ul>
							{% if complete_payments %}
							<ul class="referral-complete_pay_list">
								{% for complete_payment in complete_payments %}
								<li>{{ complete_payment.email }}</li>
								<li>{{ complete_payment.timestamp }}</li>
								<li>{{ complete_payment.token }}</li>
								<li>{{ complete_payment.currency }}</li>
								<li>{{ complete_payment.amount_crypto }}</li>
								{% endfor %}
							</ul>
							{% else %}
							<p class="referral-pay__message">Платежи отсутствуют</p>
							{% endif %}
						</div>
					</div>
				</section>
			</div>
		</div>


	</main>
	{% include 'main/layout_footer.html' %}

	<script>
		const burgerBtn = document.querySelector('.burger__btn')
		const burgerMenu = document.querySelector('.header__menu-block')
		burgerBtn.addEventListener('click', () => {
			burgerBtn.classList.toggle('active')
			burgerMenu.classList.toggle('active')
		})
	</script>

	<script src="{% static 'main/js/profile.js' %}"></script>
</body>

</html>